<!-- Footer -->
<footer class="page-footer font-small indigo darken-4 pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5>Project Deliverables:</h5>
                <ul class="list">
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Scripts for loading data from and
                            updating data into MongoDB Database.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">APIs for updating middleware databases
                            and local databases.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Background Engine Server at the
                            Middleware to accept queries and add the CRDTs.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">API for communication between
                            Background Engine Servers for deciding when to reach a consensus. (Planned as a substitute
                            for the authoritative Central Server, shall be considered as an afterthought)</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">CRDT functionalities to bring
                            consensus among Middleware database instances.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Interfaces for showing the status of
                            databases and provide the option for syncing, etc. </span></li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Guided By</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Dr. Ratan K. Ghosh</a>
                    </li>
                    <li>
                        <a href="#!">Dr. Subhajit Sidhanta</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Developers</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Ayush Sharma</a>
                    </li>
                    <li>
                        <a href="#!">Gaurav Verma</a>
                    </li>
                    <li>
                        <a href="#!">Saptarshi Mukherjee</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Made with &#10084;&#65039; using Django & Bootstrap
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->