<div class="row">
    <div class="col-md-6">
        <br>
        <h5>
            Choose Database : &ensp;
            <select id="chosen_db_1" style="display: inline-block; width: auto;" class="browser-default grey lighten-3 custom-select">
                {% for database_name in DATABASES_NAMES %}
                {% if forloop.counter == 1 %}
                <option value="{{database_name}}" selected>{{database_name}}</option>
                {% else %}
                <option value="{{database_name}}" >{{database_name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <!-- <div class="d-inline dropdown">
                <a class="btn mdb-color darken-1 dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a database
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for database_name in DATABASES_NAMES %}
                    <a class="dropdown-item" href="#">{{database_name}}</a>
                    {% endfor %}
                </div>
            </div> -->
        </h5>
        <div class="card">
            <h5 class="card-header">
                <small><i class="fas fa-dot-circle light-green-text"></i></small> <strong>Connected to <span id="connected_1">Database 1</span>
                    (MongoDB)</strong>
            </h5>
            <div class="mycardClass card-body">
                <p class="card-text">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">User</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody id="card1body">
                            <tr>
                                <th scope="row">1</th>
                                <td>Ayush</td>
                                <td><i class="fas fa-edit blue-text"></i> &ensp; <i class="fas fa-trash pink-text"></i>
                                </td>
                                <td> <a href="#">See Details</a> </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Gaurav</td>
                                <td><i class="fas fa-edit blue-text"></i> &ensp; <i class="fas fa-trash pink-text"></i>
                                </td>
                                <td> <a href="">See Details</a> </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Saptarshi</td>
                                <td><i class="fas fa-edit blue-text"></i> &ensp; <i class="fas fa-trash pink-text"></i>
                                </td>
                                <td> <a href="">See Details</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <div class="card-footer">
                CRDT-Discs
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <br>
        <h5>
            Choose Database : &ensp;
            <select id="chosen_db_2" style="display: inline-block; width: auto;" class="browser-default grey lighten-3 custom-select">
                {% for database_name in DATABASES_NAMES %}
                {% if forloop.counter == 2 %}
                <option value="{{database_name}}" selected>{{database_name}}</option>
                {% else %}
                <option value="{{database_name}}" >{{database_name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <!-- <div class="d-inline dropdown">
                <a class="btn mdb-color darken-1 dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a database
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Database 1</a>
                    <a class="dropdown-item" href="#">Database 2</a>
                    <a class="dropdown-item" href="#">Database 3</a>
                </div>
            </div> -->
        </h5>
        <div class="card">
            <h5 class="card-header">
                <small><i class="fas fa-dot-circle light-green-text"></i></small> <strong>Connected to <span id="connected_2">Database 2</span> 
                    (MongoDB)</strong>
            </h5>
            <div class="mycardClass card-body">
                <p class="card-text">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">User</th>
                                <th></th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody id="card2body">
                            <tr>
                                <th scope="row">1</th>
                                <td>Ayush</td>
                                <td><i class="fas fa-edit blue-text"></i> &ensp; <i class="fas fa-trash pink-text"></i>
                                </td>
                                <td> <a href="">See Details</a> </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Gaurav</td>
                                <td><i class="fas fa-edit blue-text"></i> &ensp; <i class="fas fa-trash pink-text"></i>
                                </td>
                                <td> <a href="">See Details</a> </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Saptarshi</td>
                                <td><i class="fas fa-edit blue-text"></i> &ensp; <i class="fas fa-trash pink-text"></i>
                                </td>
                                <td> <a href="">See Details</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <div class="card-footer">
                CRDT-Discs
            </div>
        </div>
    </div>
</div>